p {
  /* text-decoration: red wavy underline overline 1.2px; */
  text-decoration: dashed line-through deeppink;
  
  /*
  text-transform: lowercase;
  text-transform: uppercase; */
  text-transform: capitalize;
}